body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  width: 40%;
  margin: 20px;
  display: flex;
}

.card-title {
  font-weight: bold;
}

.card-body {
  padding-left: 20px;
}

.card-description {
  font-size: 12px;
}

.btn-read {
  background-color: white;
  border-color: black;
  padding: 7px 20px;
}
