body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  width: 200px;
  margin: 20px;
}

.card-img{
  width: 199px;
}

.card-title,
.card-description,
.container
{
  text-align: center;
  margin: 0;
  padding: 10px;
}

.card-title{
font-weight: bold;
font-size: 14px;
}

.card-description{
  font-size: 12px;
}

.btn-read{
  display: block;
  margin: auto;
  margin-bottom: 10px;
}